<section class="container">
  <div class="bg-card">
    <form (ngSubmit)="cadastrarUsuario()" [formGroup]="cadastroForm">
      <h2>Reactive-Form (basic validation)</h2>
      <div class="form-gorup">
        <label class="form-label">
          <p>Nome completo</p>
          <input
            type="text"
            class="input-text"
            formControlName="nome_completo"
            [ngClass]="{
              'input-text-danger': retornarErrosFormControl('nome_completo')
            }"
          />
          <span
            class="text-danger"
            *ngIf="retornarErrosFormControl('nome_completo')"
          >
            <p>Campo obrigatório</p>
          </span>
        </label>
      </div>
      <div class="form-gorup">
        <label class="form-label">
          <p>E-mail</p>
          <input
            type="text"
            class="input-text"
            formControlName="email"
            [ngClass]="{
              'input-text-danger': retornarErrosFormControl('email')
            }"
          />
          <span
            class="text-danger"
            *ngIf="
              (cadastroForm.get('email')?.errors)?.['required'] &&
              retornarErrosFormControl('email')
            "
          >
            <p>Campo obrigatório</p>
          </span>
          <span
            class="text-danger"
            *ngIf="(cadastroForm.get('email')?.errors)?.['email']"
          >
            <p>E-mail inválido</p>
          </span>
        </label>
      </div>

      <span class="form-footer">
        <button
          type="submit"
          [disabled]="!cadastroForm.valid"
          class="btn-main-action"
        >
          Cadastrar
        </button>
      </span>
    </form>

    <div>
      <p>Situação Form: Valido: {{ cadastroForm.valid }}</p>
      <p>Situação Form: Valido: {{ cadastroForm.touched }}</p>
      <p>Situação Form: Valido: {{ cadastroForm.dirty }}</p>
      <p>
        Objeto submitado: <br />
        {{ formResult }}
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="bg-card">
    <h2>InterpolationBinding (One-Way)</h2>
    <p>O Número de clicks é {{ contadorClicks }}</p>

    <br />

    <h2>PropertyBinding + EventBinding (One-Way)</h2>
    <button
      class="btn-main-action"
      [disabled]="contadorClicks >= 10"
      (click)="AdicionarClick()"
    >
      Contar
    </button>
    <button
      class="btn-main-action"
      [disabled]="contadorClicks < 10"
      (click)="ZerarClicks()"
    >
      Zerar Contador
    </button>

    <br />
    <br />

    <h2>Fake TwoWayBinding</h2>
    <input
      class="input-text"
      type="text"
      (keyup)="AlterarNome($event)"
      placeholder="Digite seu nome"
    />
    <p>Seu nome é: {{ nome }}</p>

    <br />
    <br />

    <h2>TwoWayBinding</h2>
    <input
      class="input-text"
      type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
      placeholder="Digite seu nome"
    />
    <p>Seu nome é: {{ nome }}</p>

    <br />
    <br />

    <h2>Official - TwoWayBinding</h2>
    <input
      class="input-text"
      type="text"
      [(ngModel)]="nome"
      placeholder="Digite seu nome"
    />
    <p>Seu nome é: {{ nome }}</p>
  </div>
</section>
