<section class="container">
  <div class="bg-card">
    <form (ngSubmit)="cadastrarUsuario()" [formGroup]="cadastroForm">
      <h2>Reactive-Form</h2>
      <div class="form-gorup">
        <label class="form-label">
          <p>Nome completo</p>
          <input
            type="text"
            class="input-text"
            formControlName="nome_completo"
          />
        </label>
      </div>
      <div class="form-gorup">
        <label class="form-label">
          <p>E-mail</p>
          <input type="text" class="input-text" formControlName="email" />
        </label>
      </div>
      <div class="form-gorup">
        <label class="form-label">
          <p>Senha</p>
          <input type="password" class="input-text" formControlName="senha" />
        </label>
      </div>
      <div class="form-gorup">
        <label class="form-label">
          <p>Confirme a senha</p>
          <input
            type="password"
            class="input-text"
            formControlName="repetir_senha"
          />
        </label>
      </div>
      <span class="form-footer">
        <button type="submit" class="btn-main-action">Cadastrar</button>
      </span>
    </form>
  </div>
</section>

<section class="container">
  <div class="bg-card">
    <h2>InterpolationBinding (One-Way)</h2>
    <p>O Número de clicks é {{ contadorClicks }}</p>

    <br />

    <h2>PropertyBinding + EventBinding (One-Way)</h2>
    <button
      class="btn-main-action"
      [disabled]="contadorClicks >= 10"
      (click)="AdicionarClick()"
    >
      Contar
    </button>
    <button
      class="btn-main-action"
      [disabled]="contadorClicks < 10"
      (click)="ZerarClicks()"
    >
      Zerar Contador
    </button>

    <br />
    <br />

    <h2>Fake TwoWayBinding</h2>
    <input
      class="input-text"
      type="text"
      (keyup)="AlterarNome($event)"
      placeholder="Digite seu nome"
    />
    <p>Seu nome é: {{ nome }}</p>

    <br />
    <br />

    <h2>TwoWayBinding</h2>
    <input
      class="input-text"
      type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
      placeholder="Digite seu nome"
    />
    <p>Seu nome é: {{ nome }}</p>

    <br />
    <br />

    <h2>Official - TwoWayBinding</h2>
    <input
      class="input-text"
      type="text"
      [(ngModel)]="nome"
      placeholder="Digite seu nome"
    />
    <p>Seu nome é: {{ nome }}</p>
  </div>
</section>
