<a>
  <div class="bg-card product-card">
    <span class="product-card-header">
      <h2>{{ product.title.split(" ").slice(0, 3).join(" ") }}</h2>
    </span>
    <img src="{{ product.thumbnail }}" alt="" />

    <div [ngSwitch]="product.stock <= 0">
      <a *ngSwitchCase="false">
        <button
          class="btn-main-action success product-price-button"
          (click)="emitirEvento()"
        >
          {{ product.price | currency }}
        </button>
      </a>
      <a *ngSwitchCase="true">
        <button class="btn-main-action product-price-button">
          Out of Stock
        </button>
        <ng-content style="color: black" )></ng-content>
      </a>
    </div>
  </div>
</a>
