<div class="container">
  <section class="section-product-types">
    <div class="bg-card product-type-option"></div>
    <div class="bg-card product-type-option"></div>
    <div class="bg-card product-type-option"></div>
  </section>
  <section class="row section-products">
    <div class="col-md-4 col-6">
      <div class="bg-card product-card">
        <span class="product-card-header">
          <h2>Product's Name</h2>
        </span>
        <img
          src="https://shop.countdown.co.nz/Content/ProductImages/large/205481000000.jpg/Butchery-Lamb-Chops-Marinated-Shoulder.jpg"
          alt=""
        />
        <span class="product-card-price">
          <p>R$23,99</p>
        </span>
      </div>
    </div>
  </section>
</div>
