* {
  color: var(--font-color-darker-01);
  user-select: none;
}

section:first-child {
  margin-top: 15px;
}

section {
  margin-bottom: 15px;
}

section.section-product-types {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
