header * {
  user-select: none;
}

header {
  background-color: var(--color-primary-main);

  position: sticky;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      cursor: pointer;
    }

    .menu-links {
      list-style: none;

      li {
        display: inline-block;
        padding: 0 16px;
      }
    }
  }
}
