<header class="container-fluid">
  <div class="container">
    <a [routerLink]="['/home']">
      <h1>MinhaStore</h1>
    </a>
    <nav>
      <ul class="menu-links">
        <li><a [routerLink]="['/home']" class="menu-button">Products</a></li>
        <li><a [routerLink]="['/about']" class="menu-button">About</a></li>
        <li><a [routerLink]="['/feature']" class="menu-button">Features</a></li>
      </ul>
    </nav>
    <a [routerLink]="['/contact']" class="menu-contact"
      ><button>Contact</button></a
    >
  </div>
</header>
