section:first-child {
  margin-top: 15px;
}

section {
  margin-bottom: 15px;
}

section.section-product-types {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  div.product-type-option {
    flex-grow: 1;
    background-color: var(--bg-02);
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
    border-radius: 8px;
  }
}
