@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap");

:root {
  --color-primary-main: #422b83;
  --color-primary-light: #523bb6;
  --color-primary-darker: #3d2f7b;

  --color-secondary-main: #2055fa;
  --color-secondary-light: #4473ff;
  --color-secondary-darker: #1543cb;

  --color-03-main: #ff8c04;
  --color-03-light: #ffb12b;
  --color-03-darker: #da5e00;

  --bg-01: #f0f5fc;
  --bg-02: #ffffff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

li,
a,
button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
