@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap");

:root {
  --color-primary-main: #422b83;
  --color-primary-light: #523bb6;
  --color-primary-darker: #3d2f7b;

  --color-secondary-main: #2055fa;
  --color-secondary-light: #4473ff;
  --color-secondary-darker: #1543cb;

  --color-03-main: #ff8c04;
  --color-03-light: #ffb12b;
  --color-03-darker: #da5e00;

  --bg-01: #f0f5fc;
  --bg-02: #ffffff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  outline: none;
}

body {
  background-color: var(--bg-01);
}

li,
a,
button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

button.btn-main-action {
  border: none;
  background-color: var(--color-primary-main);
  color: #ffffff;
  padding: 7px 28px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

button.btn-main-action:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}

button.btn-main-action:disabled {
  background-color: var(--color-primary-darker);
  color: #dddddd;
  cursor: default;
}

.input-text-field {
  background-color: var(--bg-01);
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
}
